body {
    background-image: url('https://w.forfun.com/fetch/fc/fc6700146ca7dc4144c919fd632200b7.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}