<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <link rel="stylesheet" href="graphStyle.css">
</head>
<body>
<div>
    <label id="positions">{{positions}}</label>
    <label id="heights">{{heights}}</label>
    <label id="name">{{graphName}}</label>
    <label id="color">{{graphColor}}</label>
</div>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const x = JSON.parse(document.getElementById("positions").textContent);
    const y = JSON.parse(document.getElementById("heights").textContent);
    const data = {
        labels: x,
        datasets: [
            {
                label: document.getElementById("name").textContent,
                data: y,
                backgroundColor: document.getElementById("color").textContent,
                borderColor: document.getElementById("color").textContent,
            }]
    };

    // Настройка графика
    const config = {
        type: 'line',
        data: data,
    };

    // Рисование графика на основе данных и настроек
    new Chart(
            document.getElementById('myChart'),
            config
    );


</script>
</body>
</html>