<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tomainpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my works!</title>
</head>
<body>
<header>
    <div class="title">Works:</div>
    <div class="buttons">
        <form action="/gis-calculator">
            <button class="button-left">Gis calculator</button>
        </form>
        <form action="/graph">
            <button class="button-right">Graph</button>
        </form>
    </div>
</header>
<div class="info">
    <p>Here are my (<a class="vk" href="https://vk.com/timenar" target="_blank" style="color: #f1faee">Timur Bezhenar</a>) works on the discipline: Information technology of digital maps</p>
</div>
</body>
</html>