<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="hello">Welcome to GIS Calculator!</div>
        <div class="instruction">
            Here you can solve 2 types of geographical task: direct and reverse
        </div>
    </div>
    <!-- <button onclick="window.location.href='/calculator'">START</button> -->
    <div class="signature">
        ©TimBezhDev
    </div>
    <div class="but-block">
        <form action="/direct" method="get">
            <button type="direct">Direct</button>
        </form>
        <form action="/" method="get">
            <button class="goBack" type="home">Home</button>
        </form>
        <form action="/reverse" method="get">
            <button type="reverse">Reverse</button>
        </form>
    </div>
</html>